h1{
	text-align: center;
	margin-top:8%;
        margin-left:38%

}
p{
	text-align: center;
	font-size: 30px;
	margin-top:12%;
        margin-left:42%
	
}
div{
	heigth: 50px;
	width:120px;
	border-radius: 5px;
	border: 2px solid #FFFF00;
        margin-top:15%;
        margin-left:45%
        text-align: center;


	
	
}
a {
	text-decoration: none;
	color: #FFFF00;
	font-family: Verdana, sans-serif;
	
	
}
