.onoffswitch  {
    posição:  parente ; width:  90px ;
    --webkit-user-select: nenhum ; -moz-user-select: nenhum ; -ms-user-select:  nenhum ;
}
.onoffswitch-checkbox  {
    display:  nenhum ;
}
.onoffswitch-label  {
    display:  block ; overflow:  hidden ; cursor:  pointer ;
    border:  2px  sólida  # 999999 ; border-radius:  20px ;
}
.onoffswitch-interno  {
    display:  block ; width:  200% ; margin-left:  -100% ;
    transição:  margem de  0.3s  facilidade em  0s ;
}
.onoffswitch-interno : antes ,  .onoffswitch-interno : depois de  {
    display:  block ; float:  esquerda ; width:  50% ; height:  30px ; padding:  0 ; line-height:  30px ;
    font-size:  14px ; color:  white ; font-family:  Trebuchet , Arial , sans-serif ; font-weight:  bold ;
    box-sizing:  border-box ;
}
.onoffswitch-interno : antes  {
    content: " ON ";
    padding-left:  10px ;
    background-color:  # 34A7C1 ; color:  #FFFFFF ;
}
.onoffswitch-interno : depois de  {
    content: " OFF ";
    padding-right:  10px ;
    background-color:  #EEEEEE ; color:  # 999999 ;
    text-align:  direito ;
}
.onoffswitch-switch  {
    display:  block ; width:  23px ; margin:  3.5px ;
    background:  #FFFFFF ;
    posição:  absoluto ; top:  0 ; bottom:  0 ;
    direita:  56 pixels ;
    border:  2px  sólida  # 999999 ; border-radius:  20px ;
    transição:  todos  0.3s  facilidade em  0s ;
}
.onoffswitch-caixa : verificada  +  .onoffswitch-label  .onoffswitch-interno  {
    margin-left:  0 ;
}
.onoffswitch-caixa : verificada  +  .onoffswitch-label  .onoffswitch-switch  {
    certo:  0px ;
}

