h1{
	text-align: center;

}
p{
	text-align: center;
	font-size: 30px;
	
}
div{
	heigth: 50px;
	width:120px;
	border-radius: 3px;
	border: 2px solid #8B4513;
	text-align: center;
        margin-top:15%;
        margin-top:45%


	
	
}
a {
	text-decoration: none;
	color: #FFFF00;
	font-family: Verdana, sans-serif;
	
	
}
